.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.filterInput {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.tableContainer {
  width: 100%;
}

.table {
  margin-top: 1rem;
  font-size: 12px;
  width: 100%;
  border: 1px solid;
}

.table {
  border: 1px solid black;
  border-radius: 1rem;
}

.table th {
  border-bottom: 1px solid black;
}

.table th,
.table td {
  padding: 1rem;
  text-align: center;
}

.table td a {
  color: #3876bf;
  font-weight: 500;
}

.sortColumn {
  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}
.pagination div {
  display: flex;
  gap: 1rem;
}
.pagination p {
  font-size: 14px;
  opacity: 0.8;
}

.button {
  padding: 0.5rem 2rem;
  color: white;
  background: #192655;
  border-radius: 0.5rem;
}

.button:disabled {
  opacity: 0.8;
}
